[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
feedparser = "*"

[dev-packages]
mypy = "*"
types-beautifulsoup4 = "*"
types-requests = "*"

[requires]
python_version = "3.11"

[scripts]
# No idea why --explicit-package-bases is required and don't care enough to find out
typecheck = "mypy . --scripts-are-modules"